setuptools>=65
wheel>=0.41
fastapi
uvicorn
sqlalchemy
passlib
python-jose
pydantic
psycopg2-binary
python-multipart
paddleocr==2.7.0.3
paddlepaddle==3.2.2
opencv-python-headless==4.10.0.84
pillow==10.4.0
numpy==1.26.4
